<html>

<head>
  <title>Resistance django</title>
  <!-- TODO-0-1 - Load bootstrap4 from the django-bootstrap4 package https://github.com/zostera/django-bootstrap4 -->
</head>

<body style="background-image:url('https://media.giphy.com/media/TZf4ZyXb0lXXi/giphy.gif'); background-size:cover;">
  <div class="d-flex align-items-center h-100">
    <div class="container text-white">
      <div class="row">
        <div class="col-md-6">
          <img width="100"
            src="https://vignette.wikia.nocookie.net/swfanon/images/9/90/Resistance_logo.png/revision/latest?cb=20160903194719"
            alt="resistance logo">
          <h1 class="display-1">Hey there!</h1>
          <p class="lead">
            The resistance needs you! A spy informed us that the Empire
            developed a web app to manage their troops.
          </p>
          <p class="lead">
            <strong>We want to fight back with a Django app to manage our soldiers and troops too. Please help us!
              Quick!</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>