{% extends 'resistanceapp/base.html' %}

{% block title %}Details | {{soldier}} {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4">{{soldier}}</h1>
      <p>{{soldier.description}}</p>

      <hr />

      <h3>Statistics</h3>

      <div class="card-deck">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Age</h5>
            <p class="display-2">{{soldier.age}}</p>
          </div>
        </div>
        <div class="card text-white bg-danger mr-3 mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Strength</h5>
            <p class="display-2">{{soldier.strength}}</p>
          </div>
        </div>
        <div class="card text-white bg-primary mr-3 mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Efficiency</h5>
            <p class="display-2">#TODO-7-3</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}