{% extends 'resistanceapp/base.html' %}

{% block title %}Resistance Dashboard{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8">

      <h1 class="display-4">The resistances' soldiers</h1>
      <p class="lead text-muted">A list of brave and powerful soldiers of the resistance.</p>

      <a href="{% url 'soldier-new' %}" class="btn btn-success btn-sm">Add a brave soldier</a>

      <hr/>

      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Age</th>
            <th>Strength</th>
            <th>Actions</th>
          </tr>
        </thead>

      {% for soldier in soldier_list %}

      <tr>
        <td>
          {{ soldier.pk }}
        </td>
        <td>
          {{ soldier.name }}
        </td>
        <td>
          <span class="badge badge-primary">{{ soldier.category.name }}</span>
        </td>
        <td>
          {{ soldier.age }}
        </td>
        <td>
          {{ soldier.strength }}
        </td>
        <td>
          <a href="{% url 'soldier-detail' soldier.id %}" class="btn btn-primary btn-sm">Détails</a>
          <a href="{% url 'soldier-update' soldier.id %}" class="btn btn-success btn-sm">Update</a>
          <a href="{% url 'soldier-delete' soldier.id %}" class="btn btn-warning btn-sm">Delete</a>

          {% if soldier.alive %}
          <form method="post" action="{% url 'soldier-dead' %}">
            {% csrf_token %}
            <input type="hidden" name="soldier_id" value="{{ soldier.id }}">
            <button type="submit" class="btn btn-danger btn-sm">Dead :(</button>
          </form>
          {% endif %}

        </td>

      {% endfor %}

    </div>
  </div>
</div>


{% endblock %}
