{% extends 'resistanceapp/base.html' %}

{% block title %}Resistance Dashboard{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8">

      <h1 class="display-4">The resistances' soldiers</h1>
      <p class="lead text-muted">A list of brave and powerful soldiers of the resistance.</p>

      <a href="#TODO-4-6" class="btn btn-success btn-sm">Add a brave soldier</a>

      <hr />

      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Age</th>
            <th>Strength</th>
            <th>Actions</th>
          </tr>
        </thead>

        {% for soldier in '#TODO-3-4' %}

        <tr>
          <td>
            #TODO-3-4
          </td>
          <td>
            #TODO-3-4
          </td>
          <td>
            <span class="badge badge-primary">Todo</span>
          </td>
          <td>
            #TODO-3-4
          </td>
          <td>
            #TODO-3-4
          </td>
          <td>
            <a href="#TODO-3-4" class="btn btn-primary btn-sm">Détails</a>
            <a href="#TODO-4-6" class="btn btn-success btn-sm">Update</a>
            <a href="#TODO-4-6" class="btn btn-warning btn-sm">Delete</a>

            #TODO-8-2
            <!-- If soldier is alive, show button to set it dead (POST form) -->
          </td>

          {% endfor %}

    </div>
  </div>
</div>


{% endblock %}