{% extends 'resistanceapp/base.html' %}

{% block title %}Resistance Dashboard{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8">

      <h1 class="display-4">The resistances' soldiers</h1>
      <p class="lead text-muted">A list of brave and powerful soldiers of the resistance.</p>

      <a href="{% url 'soldiers-new' %}" class="btn btn-success btn-sm">Add a brave soldier</a>

      <hr />

      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Age</th>
            <th>Strength</th>
            <th>Actions</th>
          </tr>
        </thead>

        {% for soldier in object_list %}

        <tr>
          <td>
            {{soldier.id}}
          </td>
          <td>
            {{soldier.name}}
          </td>
          <td>
            <span class="badge badge-primary">Todo</span>
          </td>
          <td>
            {{soldier.age}}
          </td>
          <td>
            {{soldier.strength}}
          </td>
          <td>
            <a href="{% url 'soldiers-detail' soldier.id %}" class="btn btn-primary btn-sm">Détails</a>
            <a href="{% url 'soldiers-update' soldier.id %}" class="btn btn-success btn-sm">Update</a>
            <a href="{% url 'soldiers-delete' soldier.id %}" class="btn btn-warning btn-sm">Delete</a>

            <!-- TODO-8-2 : If soldier is alive, show button to set it dead (POST form) -->
            {% if soldier.alive %}
            <form method="post" action="{% url 'soldiers-dead' %}">
              {% csrf_token %}
              <input type="hidden" name="soldier_id" value="{{ soldier.id }}">
              <button type="submit" class="btn btn-danger btn-sm">Kill :(</button>
            </form>
            {% endif %}
          </td>

          {% endfor %}

    </div>
  </div>
</div>


{% endblock %}